.loginPageContainer{
  height:100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .bluryBg{
    width: 100%;
    height: 100%;
    filter: blur(10px);
    position:absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: url('../../assets/images/pokewallpaper.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5
  }

  .loginPopup{
    width: 30vw;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 20;

    .v-form{
      width: 60%;
    }

    h2, .v-form{
      margin-bottom: 20px;
    }

    .switchModeBtn{
      color: #795548;
      font-weight: 700;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}